@charset "UTF-8";

.navbar .nav-link {
  font-size: 14px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-link.active {
  border-bottom: #fff 2px solid;
}

@media screen and (max-width: 576px) {
  .navbar .nav-link.active {
    border-left: #fff 2px solid;
    border-bottom: none;
  }
}

.carousel-item {
  height: 32rem;
}

.carousel-item img {
  height: 32rem;
}

.carousel-caption {
  bottom: 3rem;
}

#corp-desc {
  background: url("https://source.unsplash.com/F-pSZO_jeE8/1600x800");
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}
