@charset "UTF-8";

.group-1 {
  background-color: orange;
  height: 400px;
  background: url(https://source.unsplash.com/R9OS29xJb-8/300x200);
  background-repeat: no-repeat;
  background-position: center top;
}
